
<!DOCTYPE HTML5>
<head>
  {% include 'headers.html' %}
  <title>STOP</title>
</head>
<body>
  <section class="hero is-success is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <p>Google It</p>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">

        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        We're detecting some malpractice or are having some errors on our end.
      </h1>
      <h2 class="subtitle">
        Please approach a volunteer
      </h2>
      <a href='/start' class="button is-info">Go back to normality</a>
    </div>
  </div>


</section>
</body>