<html>
<head>
    <title>Google-it</title>
    {% include 'headers.html' %}
    <style type="text/css">
        #landing {
    padding-top: 50px;

}
.content {
    text-align: left;
}
#add{
    background-color: blue;
    padding: 5px;
    margin: 5px;
    color: #fff;
    cursor: pointer;
}
img {
    padding-top: 30px !important;
    margin-top: 20px;
}

#ansForm {
    margin-top: 10px;
}

body{
    text-align: center;
}

#loginForm, #registerForm{
    margin-top: 30px;
}

    </style>
</head>
<body>
    <nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" alt="Bulma: a modern CSS framework based on Flexbox" >
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/rules">
        Rules
      </a>
      
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-primary" href="/logout">
              <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
              </span>
              <span>Logout</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>


    <br><br>
    <div id="end" hidden="true">{{ end_time }}</div>
    <div class="columns">
        <div class="column is-4 is-offset-4">
            <article class="message is-info">
                <div class="message-header">Time Remaining</div>
                <div id="current" class="message-body"></div>
            </article>
        </div>
    </div>
    <div class="container">
        <form method="POST" action="{% url 'question' q_no=q_no %}">
            {% csrf_token %}
            <br><br>
            <div class="field">
              <div class="control">
                <input class="input is-primary" type="text" id="ansForm", name='answer', autocomplete="off", required="True" placeholder='Your Answer?'>
              </div>
            </div>
            <br>
            <input type="submit" value="Submit" class="button is-success" style="margin-top:10px;">
        </form>
        <div class="columns">

        </div>
</body>
<script>
var time = 0;


var currentdate = new Date();



var datetime = "Last Sync: " + currentdate.getDate() + "/"
                + (currentdate.getMonth()+1)  + "/"
                + currentdate.getFullYear() + " @ "
                + currentdate.getHours() + ":"
                + currentdate.getMinutes() + ":"
                + currentdate.getSeconds();
//var current = document.getElementById('current');
//current.innerHTML = datetime;

var timer = 0;

function display_time(){
    var currentdate = new Date();
    var endTime = document.getElementById('end');
    var end =endTime.innerHTML.toString();
    end = end.split(" ");
    end = end[1].split(":");
    var hour = end[0];
    var min = end[1];
    var sec = end[2];
    var hourDiff = Number(hour) - Number(currentdate.getHours());
    var minDiff = Number(min)- Number(currentdate.getMinutes());
    var secDiff = Number(sec)- Number(currentdate.getSeconds());
    console.log("hr = "+hourDiff.toString()+" "+currentdate.getHours().toString());
    console.log("mn = "+minDiff.toString()+" "+currentdate.getMinutes().toString());
    console.log("sec = "+secDiff.toString()+" "+currentdate.getSeconds().toString());

    if(secDiff <= 0 && minDiff <= 0 && hourDiff <= 0){
       window.location = '/finish';
    }

    if(secDiff < 0 ){
        secDiff = 60+secDiff;
        minDiff--;
    }
    if(minDiff < 0 ){
        minDiff = 60+minDiff;
        hourDiff--;
    }

    if(hourDiff < 0){
       window.location = '/finish';
    }

    var time = hourDiff+":"+minDiff+":"+secDiff;
    console.log("time"+time);
    var current = document.getElementById('current');
    current.innerHTML = time;

    //console.log(time);

}
function initTime(){

    display_time();
    var interval  = setInterval(display_time,1000);
}
initTime();
</script>
</html>
